DOCTYPE 
html(lang="en")

head 
    link(rel="stylesheet" href="bmi.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title BMI Checker

body   
    div.header
        div.wrapper
        form 
            h1 BMI calculator
            p insert your age
            input.age(type="text")
            p insert weight in key
            input.weight(type="text")
            br
            p inser heihght in cm 
            input.height(type="text")
            br
            button.calc(action="/") check 
            p.result

        //- if(one.length==0){ 
        //-     p= one    
        //- }else{ 
        //-     p please enter values before submitting 
        //- } 
    
