doctype html 
html 
head 
    title= getTitle
body 
    form(action="/pugForm" method="post" class="userData")
        label Enter your name:
        input(type="text" name="username") 
        br
        button(type="submit" ) submit